@page "/QuestionManagement"
@using Authentication.web.Shared.Questions
<div class="container">
    <EditForm Model="@model">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudTextField T="string" Label="texte de question" Required="true" Lines="3" RequiredError="le texte est obligatoire!" @bind-Value="model.questionText" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudSelect T="string" Label="Type de question" AnchorOrigin="Origin.BottomCenter" @bind-Value="model.type">
                    <MudSelectItem Value="@("Choix Multiple")" />
                    <MudSelectItem Value="@("Vrai/Faux")" />
                    <MudSelectItem Value="@("Codage")" />
                </MudSelect>
            </MudItem>
          
            <MudItem xs="12" sm="12">
                
                    @if (model.type == "Choix Multiple")
                    {
                        <MudItem xs="12" sm="6">
                            <MultiCheckQ data="model"/>
                        </MudItem>
                    }
                    else if (model.type == "Vrai/Faux")
                    {

                        <MudItem xs="12" sm="6">      
                                <MultiCheckQ ></MultiCheckQ>
                            </MudItem>
                    }
             
                    else if(model.type == "Codage")
                    {
                        <MudItem xs="12" sm="6">
                            <CodingQ />
                        </MudItem>

                    }

                
            </MudItem>
        </MudGrid>
    </EditForm>
</div>


