@using Authentication.web.Pages
@using Authentication.web.utility;

<MudPaper Width="250px" Elevation="0" Class="py-3">
    <MudNavMenu Bordered="true">
        <AuthorizeView Roles=@($"{utility.Roles.User}")>
            <Authorized>
                <MudNavLink Href="">Dashboard</MudNavLink>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles=@($"{utility.Roles.Admin}")>
            <Authorized>
                <MudNavGroup Title="utilisateurs" Expanded="true" Icon="@Icons.Material.Outlined.ManageAccounts">
                    <MudNavLink Href="UserManagement">Users</MudNavLink>
                    <MudNavLink Href="">Roles</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="Quiz" Expanded="true"Icon="@Icons.Material.Outlined.Quiz">
                    <QuizConfig>

                    </QuizConfig>
                   
                </MudNavGroup>
            </Authorized>
        </AuthorizeView>
        <MudNavLink Href="Authentification"> Authentication</MudNavLink>
        <MudNavLink Href="Inscription"> Inscription</MudNavLink>

    </MudNavMenu>
</MudPaper>




@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Authentication.web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Authentification">
                <span class="oi oi-plus" aria-hidden="true"></span> Authentication
            </NavLink>
        </div>
        <AuthorizeView Roles=@($"{Roles.Admin}, {Roles.User}")>

            <Authorized >
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-plus" aria-hidden="true"></span> Users
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Inscription">
                <span class="oi oi-plus" aria-hidden="true"></span> Inscription
            </NavLink>
        </div>
    </nav>
</div>*@

@code {
    public string SelectedOption { get; set; }
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
